section(class="canvas front" id="front")

    div(class="content")

        h2 Opt-Out Robot

        div

            p Protect your rights.
            
            p Opt out of nefarious Terms of Service provisions — automatically.

            div
            
                a(href="#section-2") Opt Me Out

    +nav-1("section-1")
